.container{
    position: absolute;
    top: 1%;
    right: 0%;
    zIndex: 99;
    opacity: 2;
    display: flex;
    alignItems: center;
    width: 3%;
    color: white;
    fontFamily: 'Lobster';
}

